/* ==========================================================================
   Alignment
   ========================================================================== */

.loop-container-align-left {
    text-align: left;
}

.loop-container-align-right {
    text-align: right;
}

.loop-container-align-center {
    text-align: center;
}

/* ==========================================================================
   Remove default spacing
   ========================================================================== */

.loop-container {
    padding-top: 20px;
    margin-bottom: 35px;

    &:last-child {
        margin-bottom: 0;
    }

    .entry {
        margin: 0;
        padding: 0;
        background: transparent;
    }
}

.widget {
    .loop-container {
        padding: 0;
        margin: 0;
    }
}

.custom-loop-container {
    .entry {
        margin: 0;
        padding: 0;
    }
}

/* ==========================================================================
   Columns
   ========================================================================== */

.loop-item-inner {
    // silence is golden
}

.loop-columns-one-line,
.loop-columns-auto,
.loop-columns-1,
.loop-columns-2,
.loop-columns-3,
.loop-columns-4,
.loop-columns-5,
.loop-columns-6 {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: stretch;
    align-content: stretch;
    margin-left: -10px;
    margin-right: -10px;

    .entry {
        flex: 0 1 auto;
        margin: 0 10px 20px;
    }
}

.loop-columns-one-line {
    flex-flow: row nowrap;
    justify-content: space-around;

    .entry {
        width: 100%;
    }
}

.loop-columns-1 {
    .entry {
        width: 100%;
    }
}

.loop-columns-2 {
    .entry {
        width: calc(100% / 2 - 20px);

        @include mobile {
            width: calc(100% - 20px);
        }
    }
}

.loop-columns-3 {
    .entry {
        width: calc(100% / 3 - 20px);

        @include mobile {
            width: calc(100% - 20px);
        }
    }
}

.loop-columns-4 {
    .entry {
        width: calc(100% / 4 - 20px);

        @include tablet {
            width: calc(100% / 2 - 20px);
        }


        @include mobile {
            width: calc(100% / 2 - 20px);
        }
    }
}

.loop-columns-5 {
    .entry {
        width: calc(100% / 5 - 20px);

        @include tablet {
            width: calc(100% / 3 - 20px);
        }


        @include mobile {
            width: calc(100% / 2 - 20px);
        }
    }
}

.loop-columns-6 {
    .entry {
        width: calc(100% / 6 - 20px);

        @include tablet {
            width: calc(100% / 3 - 20px);
        }


        @include mobile {
            width: calc(100% / 2 - 20px);
        }
    }
}